@typeparam Titem

@if (MyList is null)
{
    @if (Loading is null)
    {
        <Loading />
    }

    else
    {
        @Loading
    }
}
else if (MyList.Count == 0)
{
    @if (NoRecords is null)
    {
        <p>@Localizer["no_records"] </p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}



