@page "/products"

<h3>Products</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/products/create">Nuevo País</a>
</div>



<GenericList MyList="Products">
    <Body>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Products!)
        {
            <tr>
                <td>
                    @product.ProductName
                </td>
                <td>
                    <a class="btn btn-warning">Editar</a>
                    <button class="btn btn-danger">Borrar</button>
                </td>
            </tr>
        }
    </tbody>
</table>

    </Body>
  </GenericList>





