
@page "/products/edit/{Id:int}"

<h3>@Localizer["edit"] @Localizer["product"]</h3>

@if (productDTO is null)
{
    <Loading />
}
else
{
    <ProductForm @ref="productForm" ProductDTO="productDTO" OnValidSubmit="EditAsync" ReturnAction="Return" />
}
